body{
    color: #eeeeee
}
.container{
    margin: 0 auto;
    width: 1200px;
}
.background-imagine{
    background-image: url(1.4.png);
    width: 100%;
    height: 100%;
} 
.container_margin{
    margin: 0 auto;
}
.prise{
    display: flex;
    align-items: flex-end;
    height: 85%;
}
.container_section h2{
    font-size: 22px;
    color: #333333;
    text-align: center;
    margin-top: 114px;
    
}
#about-us_first{
    text-align: center;
    color: #000000;
}    
.line{
    font-size: 17px;
    margin-top: 35px;
    margin-bottom: 51px;
    text-align: center;
    color: #333333;
    font-size: 17px; 
}
.line-img{
    background-image: url(1.1.jpg);
    width: 100px;
    height: 100px;
    background-size: cover;
    margin: 0 auto;
}
.div_span{
    display: flex;   
    position: relative;
}
.first-span{
    display: flex;
    justify-content: space-around;
}
.first-span span:nth-child(1){
    font-size: 30px;
    color: #F1AD1D;
    text-align: center;
    margin-top: 30px;
    
}
.div_span2{
    font-size: 18px;
    color: #3D3D3D;
    margin-left: 260px; 
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 30px;
}
.div_span2 div:nth-child(1){
    color: #F1AD1D;
}
.content:after{
    content:'' ;
    display: block;
    width: 1169px;
    height: 3px;
    background-color: orange;
    margin-bottom: 162px;
    margin-top: 22px;
}
.background{
    background-image: url(photo5208739520168701662.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    background-attachment: fixed;
}
.background h1:after{
    display: block;
    content: "Awsome One Page HTML Templates";
    font-size: 18px;
}
.position{
    display: block;
}
.slogo{
    font-size: 54px;
    padding: 30px 40px;
    border: 1px solid #eeeeee;
    background-color: rgba(0, 0, 0, 0.5);
    width: 710px;  
}
.slogo span{
    color: #F1AD1D;
    margin-right: 35px;
}
#about-us{
    text-align: center;
    color: #000000;
}
.line:after{
    content:'' ;
    display: block;
    width: 60px;
    height: 3px;
    background-color: orange;
    margin: 0 auto;
    margin-top: 52px;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 49%;
    margin-bottom: 124px;
}
.img{
    height: 150px;
    width: 270px;
    background-image: url(1.png);
    margin-right: 30px;
    background-size: cover;
    display: flex;
    align-items: flex-end;
}
.img button{
    width: 117px;
    height: 42px;
    color: #eeeeee;
    background: #333333;
    margin-left: 15px;
    margin-bottom: 15px;
    border: none;
}
.img:nth-child(2){
    background-image: url(2.png);
}
.img:nth-child(3){
    background-image: url(3.png);
    margin-top: 22px;
    margin-right: 30px;
}
.img:nth-child(4){
    background-image: url(4.png);
    margin-top: 22px;
}
.gallery-info{
    display: flex;
}
.info{
    width: 49%;
}
.grid_card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: #505050;

}
.icon:before {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.orange-line:before{
    content:'' ;
    display: block;
    width: 65px;
    height: 4px;
    background-color: orange;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 28px;
}
.orange{
    color: orange;
}
.about-us_text{
    text-align: left;
    margin: 0;
    font-size: 19px; 
}
.about-us_text h3{
    margin: 0;   
}
.about-us_text button{
    color: #eeeeee;
    width: 176px;
    height: 46px;
    background-color: orange;
    border: none;
    outline-style: none;
}
.container-color{
    color: #000000;
    font-size: 14px;
    list-style: none;
    padding-inline-start: 0px;
}
.speedometer{
    background-image: url(1.2.png);
    background-attachment: fixed;
    background-size: 100%;
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.font-size-speedometer{
    font-size: 22px;
}
.font-size-speedometer span:nth-child(1){
    color: #FFFFFF;
}
.font-size-speedometer span:nth-child(3){
    color: #FFFFFF;
}
.font-size-speedometer span:nth-child(2){
    color: orange;
}
.font-size-speedometer span:nth-child(4){
    color: orange;
}
.people-img_const{
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    margin-bottom:200px;
}
.people-img{
    background-image: url(1.3.png);
    height: 178px;
    width: 193px;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    margin-bottom: 6px;
}
.people-img button{
    background-color: #333333;
    width: 154px;
    height: 43px;
    color: #FFFFFF;
    outline: none;
    position: relative;
    bottom: 15px;
    left: 12px;
}
.people-img button span{
    color: #F1AD1D;
}
.margin{
    margin: 0;
}
.font-size{
    font-size: 18px;
}
.info_card{
    color: black;
    text-align: center;
    display: block;
    justify-content: center;
}
.card button{
    width: 272px;
    height: 57px;
    background-color: #333333;
    color: #eeeeee;
}
.size-container{
    width: 272px;
}
.card{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.size-container:after{
    content:'' ;
    display: block;
    width: 272px;
    height: 4px;
    background-color: #333333;
    margin: 0 auto;
    margin-top: 33px;
    margin-bottom: 195px;
}
#container_2{
    background-image: url(photo5208739520168701662.jpg);
    width: 100%;
    height: 375px;
    background-size: cover;
    background-attachment: fixed;
}
.font-size-first{
    display: flex;
    justify-content: center;
}
.font-size-first-imagine{
    font-size: 22px;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    width: 240px;
    margin-top: 70px;
}
.font-size-first-imagine div div{
    color: #F1AD1D;
}
.container_2-first{
    display: flex;
    justify-content: center;
}
.container_2-img{
    display: flex;
    justify-content: space-between;
    width: 825px;
}
.container_3-img{
    display: flex;
    margin-bottom: 19px;
    width: 370px;
}
.stick{
    width: 349px;
    height: 3px;
    background-color: #F1AD1D;
    border: none;
    margin-top: 30px;
    margin-left: 13px;
}
.container_3-span{
    margin-top: 19px;
    color: #5B5B5B;
    font-size: 14px;
    width: 370px;
}
.container_3 h3{
    margin: 0;
}
.container_3-span::after{
    content:'' ;
    display: block;
    width: 370px;
    height: 3px;
    background-color: #333333;
    margin: 0 auto;
    margin-top: 29px;
    margin-bottom: 15px;
}
.container_3-imgspan{
    margin-top: 15px;
    width: 56px;
    height: 44px;
    display: flex;
    color: #333333;
}
.name h3{
    margin-top: 14px;
    font-size: 14px;
    width: 100px;
    margin-left: 13px;
}
.name span{
    font-size: 14px;
    width: 100px;
    margin-left: 13px;
}
.display_flex{
    display: flex;
    justify-content: space-between;
}
.search{
    width: 775px;
    height: 65px;
    margin: 0 auto;
    margin-top: 266px;
    margin-bottom: 177px;
}
.search div{
    border: 1px solid #b4a3a3;
    width: 775px;
}
.search input{
    width: 598px;
    height: 65px;
    border: none;
    font-size: 18px;
    padding-left: 31px;
    outline: none;
}
.search_button{
    width: 173px;
    height: 66px;
    background-color: #F1AD1D;
    color: #FFFFFF;
    font-size: 14px;
    outline: none;
    padding: 0;
    border: none;
}
#container_5{
    margin: 0 auto;
}
.two_block{
    height: 435px;
    width: 591px;
}
.first_block button{
    width: 381px;
    height: 57px;
    font-size: 18px;
    background-color: #333333;
    color: #FFFFFF;
    border: 0;
    text-align: start;
    padding-left: 16px;
}
.first_block span{
    color: #F1AD1D;
}
.first_block h3{
    color: #6b6969;
    font-size: 14px;
}
.tree_block_position{
    display: flex;
    justify-content: center;
}
.input_tree{
    height: 250px;
    width: 591px;
}
.input_tree input:nth-child(1){
    width: 258px;
    height: 44px;
    padding-left: 13px;
    outline-style: none;
}
.input_tree input:nth-child(2){
    width: 258px;
    height: 44px;
    padding-left: 13px;
    margin-left: 19px;
    outline-style: none;
}
.input_tree input:nth-child(3){
    height: 185px;
    width: 558px;
    padding-left: 13px;
    margin-top: 21px;
    outline-style: none;
}
.container_5-button button{
    background-color: #F1AD1D;
    color: #FFFFFF;
    font-size: 14px;
    width: 119px;
    height: 44px;
    margin-top: 23px;
}
.tree_block{
    width: 309px;
    height: 436px;
    margin-left: 228px;
}
.right-side_basis button{
    width: 247px;
    height: 57px;
    background-color: #333333;
    color: #FFFFFF;
    font-size: 18px;
    text-align: start;
    padding-left: 16px;
}
.right-side_basis button span{
    color: #F1AD1D;
}
.right-side_basis h3{
    color: #505050;
    
}
.right-side_basis div{
    color: #505050;
    width: 335px;
}
.right-side_basis i{
    background-color: #333333;
    color: #F1AD1D;
    width: 33px;
    height: 39px;
    align-content: center;
    margin-right: 13px;
    margin-top: 9px;
}
.right-side_bottom{
    margin-top: 37px;
    margin-bottom: 27px;
}
.right-side_icon button i{
    width: 41px;
    height: 28px;
    background-color: #F1AD1D;
    border: 0;
}
.right-side_icon button{
    padding: 0;
    border: 0;
    margin-left: 15px;
}
